---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";

interface Props {
  isRightImageLayout: boolean;
}
const {
  subline,
  headline,
  paragraph,
  btnCopy,
  btnLink,
  btnColorDark,
  isRightImageLayout,
} = Astro.props;
---

<style lang="scss">
  .layout {
    &.imageRight {
      > div {
        &:first-child {
          order: 1;
          @apply lg:order-2;
        }

        &:last-child {
          order: 2;

          @apply lg:order-1;
        }
      }
    }
  }
</style>

<main class="container mx-auto px-4 section">
  <div
    class:list={[
      "grid",
      "grid-cols-12",
      "gap-8",
      "text-center",
      "lg:text-left",
      "items-center",
      "layout",
      { imageRight: isRightImageLayout },
    ]}>
    <div class="col-span-12 lg:col-span-6">
      <iframe
        class="aspect-video w-full h-auto rounded-lg"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/2xd_Ve1Dxl4?si=WeI91u_MR1C3Y2-8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>

    <div class="col-span-12 lg:col-span-6">
      <div
        class="mb-1 sm:mb-2 font-headline uppercase font-bold text-green text-sm">
        {subline}
      </div>

      <h2
        class="font-headline font-medium text-xl leading-normal mb-4 sm:text-2xl sm:mb-6 sm:leading-snug lg:text-3xl lg:leading-snug 2xl:text-4xl 2xl:leading-tight 2xl:pr-[20%]">
        {headline}
      </h2>
      <div class="content">
        <Fragment set:html={paragraph.__content} />
      </div>

      <Button copy={btnCopy} link={btnLink} isDark={btnColorDark} />
    </div>
  </div>
</main>
